:root {
  /* Quuppa Colours:
     Purple #958BFF
     Blue #0085CA
     Green #13ACAF
     Yellow #FBDC6A
     Red #FF5E4E
     Light Grey #EFEFEF
     Mid Grey #EEEEEE
     "Black" #3c3c3c
  */

  --wh-primary-bg: #fff;
  --wh-primary-color: #3c3c3c;
  --wh-secondary-bg: #fff;
  --wh-secondary-color: #3c3c3c;
  --wh-strong-color: #333;
  --wh-soft-color: #ccc;
  --wh-subtle-color: #f8f8f8;

  --wh-top-menu-bg: #f8f8f8;
  --wh-main-page-toc-bg: #f8f8f8;
  --wh-main-page-toc-border: #e0e0e0;
  --wh-main-page-shortdesc-color: #3c3c3c;
  --wh-close-toc-icon-border: #7b7a7a;
  --wh-close-toc-button-shadow: rgba(0,0,0,.16);

  --wh-link-color: #7b7a7a;
  --wh-label-color: #666;
  --wh-pre-bg: #eee;
  --wh-tooltip-color: #958BFF;
  --wh-code-color: #800000;
  --wh-boolean-color: #008000;
  --wh-state-color: #ff0000;
  --wh-syntaxdiagram-color: #800000;
  --wh-markup-color: #639;
  --wh-fig-border: #c0c0c0;
  --wh-caution-bg: rgba(252, 220, 106, 0.2);
  --wh-danger-bg: rgba(255, 94, 78, 0.08);
  --wh-warning-bg: rgba(255, 94, 78, 0.08);
  --wh-hazardstatement-bg: rgba(0, 133, 202, 0.08);
  --wh-indexterm-bg: #fdf;
  --wh-go2top-bg: #444;
  --wh-go2top-border: #999;
  --wh-toggle-border: #958BFF;

  /* Search */
  --wh-search-color: #958BFF;
  --wh-search-breadcrumb-color: #ccc;
  --wh-search-loader-base-bg: #eaecec;
  --wh-search-loader-glow-bg: #f3f3f3;
  --wh-search-facets-bg: #f8f8f8;
  --wh-search-facets-disabled-color: #b7b6b6;
  --wh-search-facets-border: #ebebeb;
  --wh-search-results-facets-bg: #f5f5f5;
  --wh-search-results-facets-color: #3c3c3c;
  --wh-highlight-bg: #FEF4D2;
  --wh-scroll-bg: #d6d6d6;

  /* Change Tracking */
  --wh-oxy-delete-color: #ff0000;
  --wh-oxy-insert-color: #0000ff;
  --wh-oxy-change-done-color: #808080;
  --wh-oxy-range-color: #800000;
  --wh-oxy-comment-border: #ffa500;
  --wh-oxy-change-bg: #ffff00;
  --wh-oxy-attributes-footnote-bg: #00ffff;
  --wh-oxy-comment-footnote-bg: #ffffaa;
  --wh-oxy-delete-footnote-bg: #ffaaaa;
  --wh-oxy-insert-footnote-bg: #ddddff;

  /* Syntax Highlight */
  --wh-hl-json_key-color: #7263b9;
  --wh-hl-keyword-color: #7f0055;
  --wh-hl-string-color: #2a00ff;
  --wh-hl-comment-color: #006400;
  --wh-hl-directive-color: #8b26c9;
  --wh-hl-tag-color: #000096;
  --wh-hl-attribute-color: #ff7935;
  --wh-hl-value-color: #993300;
  --wh-hl-html-color: #000080;
  --wh-hl-xsl-color: #0066ff;
  --wh-hl-annotation-color: #808080;
  --wh-hl-tag-doctype-comment-color: #3f5fbf;
  --wh-hl-tag-doctype-color: #0000ff;

  /* OpenAPI */
  --wh-openapi-border: #c5c5c5;
  --wh-openapi-post-bg: #c2f2cb;
  --wh-openapi-get-bg: #ccebff;
  --wh-openapi-delete-bg: #ffceca;
  --wh-openapi-put-bg: #ffe7c7;
  --wh-openapi-head-bg: #f4e6ff;

  --wh-tile-bg: #f8f8f8;
  --wh-tile-link-color: #3c3c3c;
  --wh-breadcrumb-color: #7b7a7a;
  --wh-breadcrumb-bg: #fff;
  --wh-publication-toc-color: #7b7a7a;
  --wh-publication-toc-bg: #fff;
  --wh-publication-toc-border-color: #e0e0e0;
  --wh-related-links-color: #958BFF;
  --wh-footer-bg: rgb(48, 48, 48);
  --wh-outline-color: #ccc;
  --wh-filepath-color: #c7254e;
  --wh-search-bg: #f8f8f8;
  --wh-search-input-bg: #f8f8f8;
  --wh-searchresult-color: #958BFF;
  --wh-searchresult-relativepath-color: #006621;
  --wh-search-pagination-bg: var(--wh-primary-bg);
  --wh-search-pagination-active-bg: #958BFF;
  --wh-search-pagination-disabled-bg: #e9ecef;
  --wh-search-pagination-disabled-color: rgba(33, 37, 41, 0.75);

  --wh-search-image: none;
  --wh-search-image-small: none;
}