/*
 * ==============================================
 * Quuppa branded skin for oXygen Webhelp v28.
 * Based on Oxygen tree template with Quuppa colours and styling.
 * ==============================================
 */

/*
 * ------------------------------------------------------------------
 *  
 * Fonts.
 *  
 */
@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    src: url(resources/fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    src: url(resources/fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: url(resources/fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    src: url(resources/fonts/Roboto-Bold.ttf);
}

html, body {
    min-width:100%;
}

body{
    font-family: Arial, Arial Unicode MS, "Malgun Gothic", Batang, Roboto, sans-serif;
    color: #3c3c3c;
}

/*
 * ------------------------------------------------------------------
 *
 * Fight with bootstrap
 *
 */
.navbar-brand{
    height:auto;
}
.navbar {
    border:none;
    border-radius:0;
    margin:0;
}

/* White header with dark text (Quuppa style) */
.wh_header{
    background: #fff none;
    color: #3c3c3c;
    border-bottom: 1px solid #eee;
}

a,
a:hover,
a:visited{
    color: #7b7a7a;
}
a:hover{
    text-decoration: none;
}

/*
 * ------------------------------------------------------------------
 *  
 * Publication titles
 *  
 */
 .wh_publication_title > a{
     font-size: 1.5em;
     font-weight: 700;
     color: #333333;
}

/*
 * ------------------------------------------------------------------
 *  
 * Menu (hidden via parameter, but keep styles for safety)
 *  
 */
.wh_top_menu {
    text-transform: uppercase;
    margin: .4em 0;
    font-size: 0.9em;
}
.wh_top_menu a{
    color: #3c3c3c;
    line-height: 2em;
}

/* The submenus */
.wh_top_menu ul ul {
    background-color: #f4f4f4;
}

.wh_top_menu:not(.activated-on-click) ul:hover li,
.wh_top_menu:not(.activated-on-click) ul li:hover {
    transition: none; 
}

.wh_top_menu:not(.activated-on-click) ul li {
    transition: background-color 0.2s 1s;
}

.wh_top_menu ul li:hover,
.wh_top_menu.activated-on-click ul li.active {
    background-color: #f4f4f4;
}
.wh_top_menu ul ul li a:focus,
.wh_top_menu ul ul li a:hover {
    background: #e4e4e4;
    color: #3c3c3c;
}
.wh_top_menu ul ul li {
    border-top-color: #e4e4e4;
    width: 270px;
    text-transform: capitalize;
}

/*
 * ------------------------------------------------------------------
 *  
 * Link to the index.
 * 
 */
 .wh_indexterms_link a span{
    display:none;
}
.wh_indexterms_link a:before{
    color: #3c3c3c;
}

/*
 * ------------------------------------------------------------------
 *  
 * Breadcrumb
 *  
 */
.wh_breadcrumb ol {
    color: var(--wh-breadcrumb-color);
}
.wh_breadcrumb ol a {
    color:inherit;
}
.wh_breadcrumb ol .active {
    color: #958BFF;
}

/*
 * ------------------------------------------------------------------
 *  
 * Tools and navigation
 * 
 */
.wh_tools{
    background-color: var(--wh-breadcrumb-bg);
    margin: 1em 0 2em;
}

.wh_print_link,
.wh_navigation_links,
.wh_navigation_links .navnext,
.wh_navigation_links .navprev{
}

.webhelp_full_width_link,
.webhelp_expand_collapse_sections,
.wh_hide_highlight,
.wh_print_link button,
.oxy-icon-pdf-link,
.wh-md-menu-button,
.wh_navigation_links a,
.wh_navigation_links a:hover,
.wh_navigation_links a:active,
.wh_navigation_links a:visited,
.wh_print_link a:before,
.wh_navigation_links a:before,
.wh_navigation_links a:hover:before,
.wh_navigation_links a:active:before,
.wh_navigation_links a:visited:before{
    color: #7b7a7a;
    text-decoration: none;
}

/*
 * ------------------------------------------------------------------
 *  
 * Tiles
 * 
 */
.wh_tile {
    background-color: var(--wh-tile-bg);
    font-weight: 300;
}
.wh_tile_shortdesc{
    margin-top:1em;
    text-align: center;
    color: var(--wh-main-page-shortdesc-color);
    font-size:1.1em;
}
.wh_tile_text:after{
    background: linear-gradient(to bottom, rgba(248, 248, 248, 0), rgba(248, 248, 248, 1) 75%);
}
.wh_tile_title{
    font-size:1.7em;
    text-align: center;
    text-decoration: none;
}
.wh_tile_title a{
    color: var(--wh-tile-link-color);
}
@media only screen and (max-width: 767px) {
    .wh_tile > div {
        height: auto;
    }
}

/*
 * ------------------------------------------------------------------
 *  
 * Search area
 * 
 */
.wh_search_input{
    display:block;
    padding: 2em;
    margin:0;
    background-color: #F8F8F8;
    background-image: none;
}

.wh_welcome:not(:empty){
    font-size: 2.5em;
    margin: 0 auto;
    font-family: Arial, Arial Unicode MS, "Malgun Gothic", Batang, Roboto, sans-serif;
    padding: 0 0 0.5em 0;
    text-shadow: none;
    font-weight: 300;
    line-height: 1.2em;
    color: #040480;
}

.wh_main_page .wh_search_input{
    padding: 2em;
    background-image: none;
    background-color: #F8F8F8;
}
.wh_search_textfield{
    border: solid 1px #CCC;
    border-radius: 5px;
    padding: 0 .5em;
    font-size: 1.2em;
    line-height: 2em;
    height: 36px;
}
.wh_search_button{
    border: solid 1px #CCC;
    border-radius: 0 5px 5px 0;
    padding: 0.5em 1em;
    background-color: #958BFF;
    color: white;
    height: 36px;
}

.ui-autocomplete {
    background-color: var(--wh-primary-bg);
    color: var(--wh-primary-color);
}

/* Search autocomplete */
.ui-menu-item {
    font-size: 1.4em;
}

.ui-menu-item .ui-state-active {
    background-color: #958BFF;
}

/* Search autocomplete icons */
.search-autocomplete-proposal-type-history a,
.search-autocomplete-proposal-type-history a:hover,
.search-autocomplete-proposal-type-history a:visited,
.search-autocomplete-proposal-type-history a:active{
    text-decoration: none;
    color:inherit;
    font-size: 0.8em;
}
.ui-state-active .search-autocomplete-proposal-type-history a,
.ui-state-active .search-autocomplete-proposal-type-history a:hover,
.ui-state-active .search-autocomplete-proposal-type-history a:visited,
.ui-state-active .search-autocomplete-proposal-type-history a:active{
    color: #fff;
}

/* Search pagination */
#wh-search-pagination > ul > li > a {
    background-color: var(--wh-search-pagination-bg);
    color: #958BFF;
}
#wh-search-pagination > ul > li.active > a {
    background-color: #958BFF;
    color: #fff;
}
#wh-search-pagination > ul > li.disabled > a {
    background-color: var(--wh-search-pagination-disabled-bg);
    color: var(--wh-search-pagination-disabled-color);
}

/* Search relative path */
.searchresult li .relativePath a {
    color: #006621;
}

/* Search highlight */
.highlight {
    background-color: #FEF4D2;
}

@media only screen and (max-width: 767px) {
    .wh_main_page .wh_search_input,
    .wh_search_input {
        padding: 1.5em 0;
    }
}

/*
 * ------------------------------------------------------------------
 *  
 * Publication TOC
 * 
 */
.wh_publication_toc{
    border-radius: 3px;
    background-color: transparent;
    padding: 1.5em 2em;
    line-height: 2em;
    border-right: 5px solid #F8F8F8;
    position: static !important;
    max-height: fit-content !important;
}

.wh_publication_toc .active > .topicref a {
    color: #958BFF;
    font-weight: 700;
}

.wh_publication_toc span {
    color: #958BFF;
    margin-bottom: 10px;
    font-size: large;
    font-weight: bold;
}

.wh_publication_toc div, .wh_publication_toc a, .wh_publication_toc a:visited, .wh_publication_toc a:hover {
    color: #7b7a7a;
    margin-bottom: 10px;
}
.wh_publication_toc a:hover {
    text-decoration: underline;
}

.wh_publication_toc ul li, #wh_topic_toc ul li{
    margin-top: .7em;
}

#wh_publication_toc_content{
    position: static !important;
}

/* Hide scroll bar for publication TOC */
.wh_publication_toc::-webkit-scrollbar {
    display: none;
}

/* Hide close TOC button */
.close_toc_icon {
    display: none;
}

#wh_close_publication_toc_button {
    visibility: hidden;
}

@media only screen and (max-width: 767px) {
    .wh_publication_toc {
        border-radius: 0;
        padding: 1em 0.5em;
        margin-top: 10px;
        border: 1px solid var(--wh-publication-toc-border-color);
    }

    .wh_related_links,
    .wh_child_links,
    .wh_topic_content .related-links{
        border: 1px solid var(--wh-publication-toc-border-color);
    }
}

/* Publication TOC tooltip */
.wh_breadcrumb .topicref .wh-tooltip,
.wh-toc-tooltip {
    background-color: var(--wh-tooltip-color);
    color: #fff;
    font-size: 1.4rem;
}

.wh_breadcrumb .topicref .wh-tooltip a,
.wh-toc-tooltip a {
    color: #fff;
    text-decoration: underline;
}

/* TOC button */
.close-toc-button {
  background-color: var(--wh-primary-bg);
  box-shadow: 0 2px 5px var(--wh-close-toc-button-shadow);
}
.close-toc-button:hover {
  background-color: var(--wh-subtle-color);
}

/* Tooltip arrow */
[data-tooltip-position="left"] .topicref .wh-tooltip::before,
[data-tooltip-position="left"] .wh-toc-tooltip::before {
    border-left-color: var(--wh-tooltip-color);
}

[data-tooltip-position="right"] .topicref .wh-tooltip::before,
[data-tooltip-position="right"] .wh-toc-tooltip::before {
    border-right-color: var(--wh-tooltip-color);
}

[data-tooltip-position="bottom"] .topicref .wh-tooltip::before,
[data-tooltip-position="bottom"] .wh-toc-tooltip::before {
    border-bottom-color: var(--wh-tooltip-color);
}

[data-tooltip-position="top"] .topicref .wh-tooltip::before,
[data-tooltip-position="top"] .wh-toc-tooltip::before {
    border-top-color: var(--wh-tooltip-color);
}

/* Topic TOC */
.wh_topic_toc {
    border-right: 5px solid #F8F8F8;
    margin-left: 0;
    padding-left: 1em;
}

/*
 * ------------------------------------------------------------------
 *
 * Footer
 * 
 */
.wh_footer{
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
    color: white;
    background: none rgb(48, 48, 48);
    font-family: Arial, Arial Unicode MS, "Malgun Gothic", Batang;
    font-size: .75em;
    margin-top: 2em;
}

.wh_footer a{
    color: white;
}

/*
 * ------------------------------------------------------------------
 *  
 * Topic content
 * 
 */
.wh_topic_content,.wh_content_area {
    color: var(--wh-primary-color);
    line-height: 1.7em;
    margin-bottom: 80px;
}
.wh_main_page .wh_content_area {
    margin: 40px 0;
}
.wh_topic_content .title.topictitle1 {
    font-size: 30px;
    line-height: 1em;
    font-weight: bold;
    font-family: Arial, Arial Unicode MS, "Malgun Gothic", Batang;
    color: rgb(51, 51, 51);
}

.wh_topic_content .title.topictitle1:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 10%;
    padding-top: 10px;
    border-bottom: 1px solid #958BFF;
}

.title.sectiontitle {
    font-weight: 700;
    font-size: 20px;
    color: rgb(51, 51, 51);
    font-family: Arial, Arial Unicode MS, "Malgun Gothic", Batang;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    line-height: 140%;
}

.topictitle3,
.topictitle4,
.topictitle5,
.topictitle6 {
    font-weight: 400;
}

.wh_related_links .related-links,
.wh_topic_content .related-links,
.wh_child_links{
    border-top: 1px solid var(--wh-outline-color);
    padding-top: 7px;
    margin-top: 0;
}

.wh_related_links .related-links,
.wh_topic_content .related-links{
    padding: .5em 1.5em ;
}

.wh_child_links {
    padding: 1.5em ;
}

.related-links strong{
    font-weight: 700;
}

.related-links a,
.related-links a:visited {
    color: #958BFF;
}

.filepath {
    color: var(--wh-filepath-color);
}

/* Max width for topic content */
.wh_topic_content {
    max-width: 120ch;
    font-family: Arial, Arial Unicode MS, "Malgun Gothic", Batang;
    font-size: 13.3333px;
}

/*
 * ------------------------------------------------------------------
 *  
 * Search results.
 * 
 */
.searchresult {
    list-style: none;
}

.searchresult li a {
    color: #958BFF;
}
.searchresult .shortdesclink {
    margin: .3em .5em 0 0;
}
.wh_search_expression{
    font-weight:bold;
}

/*--------- Search results breadcrumb ----------*/
.search-breadcrumb li a {
    background: var(--wh-search-bg);
}
.search-breadcrumb li .title:before,
.search-breadcrumb li .title:after {
    border-color: var(--wh-search-bg);
}
.search-breadcrumb li .title:before {
    border-left-color: transparent;
}
.search-breadcrumb li .title:after {
    border-color: transparent;
    border-left-color: var(--wh-search-bg);
}

/*
 * ------------------------------------------------------------------
 *  
 * Index terms.
 * 
 */
.wh_index_terms span.wh_first_letter {
    color: #958BFF;
}
.wh_index_terms #indexList{
    padding:0;
}

/*
 * ------------------------------------------------------------------
 *  
 * Tree TOC for the main page.
 * 
 */
.wh_main_page_toc a {
    color: #7b7a7a;
}

.wh_main_page_toc .expanded,
.wh_main_page_toc .wh_main_page_toc_accordion_header:hover,
.wh_main_page_toc>.wh_main_page_toc_entry:hover,
.wh_main_page_toc_accordion_entries{
    background-color: #F8F8F8;
}

.wh_main_page_toc_accordion_header {
    color: #7b7a7a;
}

.wh_main_page_toc_accordion_header:before {
    color: #958BFF;
}

.wh_main_page_toc_accordion_header_expanded:before {
    color: #958BFF;
}

/**
 * Styles used for RTL pages
 */
html[dir='rtl'] .wh_top_menu:not(.activated-on-click) ul li:hover > ul,
html[dir='rtl'] .wh_top_menu.activated-on-click ul li.active > ul {
    max-width: 270px;
}

#go2top {
  color: white;
}

.nav-tabs .nav-link {
  color: var(--wh-link-color);
}
.nav-tabs .nav-link.active {
  background-color: var(--wh-primary-bg);
  border-color: var(--wh-subtle-color);
  color: var(--wh-primary-color);
}

/* Hide dark mode toggle since we use light-only theme */
.wh_theme {
    display: none;
}

/* Menu bar mobile button */
.navbar-toggler {
    border-color: #7b7a7a;
}

.navbar-toggler-icon {
    filter: sepia(1);
}

.custom-toggler {
    border-color: #7b7a7a;
}

/* Keep header and breadcrumb static (not sticky) */
.header-sticky {
    position: static;
}

.breadcrumb-sticky {
    position: static;
}